{% extends "base.html" %}
{% load static %}

{% block title %}
signup
{% endblock %}

{% block main %}
<form method="post">
    {% csrf_token %}
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email"><br><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password"><br><br>
    <label for="cpassword">Comfirm Password</label><br>
    <input type="password" id="cpassword" name="cpassword"><br><br>
    <button>submit</button>
</form>
{% endblock %}