{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'app:home' %}">Home</a></li>
           {% if user.is_authenticated %}
           <li><a href="{% url 'account:logout' %}">Log Out</a></li>
           <li><a href="{% url 'app:profile' %}">Profile</a></li>
           <li><a href="{% url 'product:items' %}">Products</a></li>
           {% if user.is_staff %}
           <li><a href="{% url 'staff:staff' %}">Admin Pannel</a></li>
           {% endif %}
           {% else %}
           <li><a href="{% url 'account:signup' %}">Sign in</a></li>
            <li><a href="{% url 'account:login' %}">Log in</a></li>
            {% endif %}
        </ul>
    </nav>

    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% block main%} {% endblock %}
</body>
</html>